<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <title>tear down this paywall</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<h1><a href="/">ACM: tear down this paywall.</a></h1>

<p class="big">We, the undersigned researchers, technologists and citizens,
demand that the Association for Computing Machinery make the complete contents
of the Digital Library available to everybody.</p>

<p class="sign"><a href="/sign">Add your signature</a></p>
<p>All signatures:</p>
<ul>
{% for signature in signatures %}
  <li class="signer">{{signature.name|escape}}
    <span class="details">
    {% if signature.subfield %}
    {{signature.subfield|escape}}{% if signature.affiliation %},{% endif %}
    {% endif %}
    {% if signature.affiliation %}
    {{signature.affiliation|escape}}
    {% endif %}
    {% if (signature.wontpublish or signature.wontreview or signature.wontjoin) %}<br/>{% endif %}
    {% if signature.wontpublish %}[won't publish]{% endif %}
    {% if signature.wontreview %}[won't review]{% endif %}
    {% if signature.wontjoin %}[won't join]{% endif %}
    </span>
  </li>
{% endfor %}
</ul>
<p><a href="/">[back to the front page]</a></p>
</body>
</html>
