<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <title>tear down this paywall</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<h1><a href="/">ACM: tear down this paywall.</a></h1>

<p class="big">We, the undersigned researchers, technologists and citizens,
demand that the Association for Computing Machinery make the complete contents
of the Digital Library available to everybody.</p>

<p class="sign"><a href="/sign">Add your signature</a></p>
<div class="explanation">
<p><strong>Computer science research is largely funded by the public, for the
public good.</strong> The results of this research are presented in papers,
often published by the Association for Computing Machinery, but the authors
edit and typeset the articles themselves, and other scientists in the
community peer-review them as volunteers. At the end of this process, the
finished papers are not made available to the public by the publisher. Only
those with a subscription, such as researchers from institutions that pay a fee
to the ACM, are granted access to this taxpayer-funded work.</p>

<p><strong>It doesn't have to be this way.</strong> If other professional
societies in computing, such as <a
href="https://www.usenix.org/blog/usenix-supports-open-access">USENIX</a>, the
<a href="http://aclweb.org/anthology-new/">Association for Computational
Linguistics</a> and <a href="http://books.nips.cc/">NIPS</a> (among others) can
commit to <a href="http://en.wikipedia.org/wiki/Open_access">Open Access</a>,
then the ACM can also find a way to make it work. Computer science research is
too important to hide behind a paywall, and in any case it rightly belongs to
the public. The <a href="http://www.acm.org/about/constitution/#article2">ACM
states as its purpose</a> "... serving both professional and public interests by
fostering the open interchange of information..." -- we simply want it to
succeed at this excellent goal.</p>

<p><a href="/sign">So add your name!</a> Individual signers may pledge any or
all of the following, until all of the ACM Digital Library is fully accessible
to the public: (a) refuse to publish in ACM venues, (b) refuse to review for ACM
venues, or (c) refuse to buy or renew ACM memberships.</p>
</div>

<div class="signinfo">
  <p class="count">{{count}} have signed so far.</p>

  <p><a href="/allsignatures">See all signatures.</a></p>

  <p>Most recent signatures:</p>
  <ul>
  {% for signature in mostrecent %}
      <li class="signature">{{signature.name|escape}}
          <span class="details">
          {% if signature.subfield %}
          {{signature.subfield|escape}}{% if signature.affiliation %},{% endif %}
          {% endif %}
          {% if signature.affiliation %}
          {{signature.affiliation|escape}}
          {% endif %}
          {% if (signature.wontpublish or signature.wontreview or signature.wontjoin) %}<br/>{% endif %}
          {% if signature.wontpublish %}[won't publish]{% endif %}
          {% if signature.wontreview %}[won't review]{% endif %}
          {% if signature.wontjoin %}[won't join]{% endif %}
          </span>
      </li>
  {% endfor %}
  </ul>

  <!-- social sharing buttons -->
  <a href="https://twitter.com/share" class="twitter-share-button"
  data-text="ACM should go #openaccess! #oa">Tweet</a>
  <script>!function(d,s,id){var
  js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <div class="g-plusone" data-size="medium"></div>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <p class="source">
    <a href="http://teardownthispaywall.blogspot.com">Read our blog.</a>
  </p>

  <p class="source">
    <a href="http://teardownthispaywall.blogspot.com/2013/02/about-us.html">
    About us.</a>
  </p>

  <p class="source">
    Site design and functionality largely inspired by
    <a href="http://thecostofknowledge.com/">The Cost of Knowledge</a>, a
    campaign to get academics to boycott Elsevier.
  </p>
</div>

<br clear="all"/>
<p class="source">
<a href="http://github.com/alexrudnick/oapetition">[source on github]</a>
</p>
</body>
</html>
