<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <title>tear down this paywall</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<h1><a href="/">ACM: tear down this paywall.</a></h1>

<p class="big">We, the undersigned, demand that the Association for Computing Machinery
make the complete contents of the Digital Library available to everybody.</p>

<p class="sign"><a href="/sign">Add your signature</a></p>

<div class="explanation">
<p>EXPLANATION ABOUT OA GOES HERE. DISCUSSION ABOUT HOW THE ACM HAS RESISTED OA
GOES HERE. INCLUDE LINKS.</p>

<p>If USENIX, the Association for Computational Linguistics and NIPS (among
others) can commit to Open Access, then the ACM can also find a way. Computer
Science research is too important to hide behind a paywall, and in any case it
rightly belongs to the public.</p>

<p>Individual signers may make particular pledges for any or all of the
following until all of the ACM Digital Library is Open Access: (a) not publish
in ACM venues (b) not review for ACM venues and (c) not buy/renew ACM
membership.</p>
</div>

<div class="signinfo">
  <p class="count">{{count}} have signed so far.</p>

  <p><a href="/allsignatures">See all signatures.</a></p>

  <p>Most recent signatures:</p>
  <ul>
  {% for signer in mostrecent %}
      <li class="signer">{{signer.name|escape}}
          {% if signer.subfield %}
          <span class="details">{{signer.subfield|escape}}</span>
          {% endif %}
          {% if signer.affiliation %}
              <span class="details">{{signer.affiliation|escape}}</span>
          {% endif %}
      </li>
  {% endfor %}
  </ul>
</div>

<br clear="all"/>
<p class="source">
<a href="http://github.com/alexrudnick/oapetition">(source on github)</a>
</p>
</body>
</html>
